main {
  max-width: 1080px;
  min-height: 100vh;
  margin: 7rem  auto 3rem;
  
}

/* Esconde visualmente a scrollbar, mas permite rolar */
html {
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}



@media (max-width: 600px) {
  main {
    margin: 5rem auto 2rem;
    padding: 0rem 1rem
  }
}
