[data-theme="dark"] .icon-sun { display: block; }
[data-theme="dark"] .icon-moon { display: none; }
[data-theme="light"] .icon-sun { display: none; }
[data-theme="light"] .icon-moon { display: block; }



/* Theme */
.icon-sun:hover {
  fill: #f59e0b;
}

.icon-moon:hover {
  fill: #6b7280;
}


.hidden {
  display: none;
}