<footer class="footer">
  <nav>
    
    
      
              <ul class="footer__list">
                <li class="nav__item">
                  <a href="index.html" class="menu__link__footer">
                    <i class="fa-solid fa-house"></i><span>Home</span>
                  </a>
                </li>

                <li class="nav__item">
                  <a href="#chapters" class="menu__link__footer">
                    <i class="fa-solid fa-book-open"></i><span>Chapters</span>
                  </a>
                </li>

                <li class="nav__item">
                  <a href="#summary" class="menu__link__footer">
                    <i class="fa-solid fa-list"></i><span>Summary</span>
                  </a>
                </li>

                <li class="nav__item">
                  <a href="#takeaways" class="menu__link__footer">
                    <i class="fa-solid fa-user-pen"></i><span>Author</span>
                  </a>
                </li>

                <li class="nav__item">
                  <a href="../contato.html" class="menu__link__footer">
                    <i class="fa-solid fa-envelope"></i><span>Contato</span>
                  </a>
                </li>
              </ul>


  </nav>

  <!-- Redes sociais -->
  <div class="footer__social">
    <a href="https://facebook.com" target="_blank" aria-label="Facebook">
      <i class="fa-brands fa-facebook-f"></i>
    </a>
    <a href="https://instagram.com" target="_blank" aria-label="Instagram">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="https://github.com" target="_blank" aria-label="GitHub">
      <i class="fa-brands fa-github"></i>
    </a>
  </div>

  <p class="footer__copy">© 2025  Sanciweferson. Todos os direitos reservados.</p>
</footer>
